<root>
    <scripts>
        <include src="file://{resources}/layout/custom_game/hud/App.js"></include>
    </scripts>
    <styles>
        <include src="s2r://panorama/styles/dotastyles.vcss_c"></include>
        <include src="file://{resources}/layout/custom_game/hud/app.css"></include>
        <include src="file://{resources}/layout/custom_game/hud/components/Minimap/minimap.css"></include>
        <include src="file://{resources}/layout/custom_game/hud/components/ButtonGroup/buttonGroup.css"></include>
        <include src="file://{resources}/layout/custom_game/hud/components/Settings/settings.css"></include>
    </styles> 
    <Panel class="root" hittest="false"></Panel>
</root> 