.root {
  width: 100%;
  height: 100%;
}

.appContainer {
  width: 100%;
  height: 100%;
}

Slider {
  margin-bottom: 0px;
}

Slider.HorizontalSlider {
  width: 420px;
  height: 30px;
  vertical-align: center;
}
