.modifierStackContainer {
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modifierStackLabel {
  font-size: 18px;
  color: white;
  vertical-align: center;
  horizontal-align: center;
  text-shadow: 1px 1px 2px 3 #000000;   
  text-overflow: clip;
}