.levelUpContainer {
  height: 20.5px;
  width: 240px;
  /* background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(112, 101, 1) ), to( rgb(146, 146, 102) ) ); */
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 285px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 165, 0, 0.75);
}

.levelUpLabel {
  vertical-align: middle;
  horizontal-align: center;
  color: white;
  font-size: 16px;
  margin-top: -1px;
  text-shadow: 1px 1px 2px 2.5 #000000;  
  font-weight: lighter;
  color: white;
}