.container {
	width: 250px;
  height: 40px;
	flow-children: left;
	z-index: 9999;
	background-image: url("s2r://panorama/images/hud/reborn/courier_gold_bg_262_psd.vtex");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.btn {
	vertical-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 14px;
	margin-left: 14px;
	width: 30px;
	height: 30px;
	padding: 1.5px;
	pre-transform-scale2d: 1;
}

.btn:hover {
	padding: 0px;
}
