.outerContainer {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: down;
	width: 175px;
	height: fit-children;
	margin-bottom: 45px;
	z-index: 9999;
}

.innerContainer {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: down;
	width: 100%;
	height: fit-children;
	background-color: black;
	border: 1px solid black;
	border-radius: 1px;
	z-index: 9999;
	margin-left: 20px;
	margin-right: 20px;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: rgba(200, 200, 200, 0.45);
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px 2 #000000;
	padding-left: 2px;
	padding-top: 6px;
	padding-bottom: 4px;
	background-color: rgba(48, 66, 80, 0.5);
}

.divider {
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 1px;
}

.option {
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	border-top: 2px solid rgba(44, 53, 60, 1);
	background-color: rgba(24, 33, 40, 1);
	color: #acaaaa;
	letter-spacing: 1px;
	saturation: 1.1;
	text-shadow: 1px 1px 2px 2 #000000;
}

.option:hover {
	saturation: 0.5;
}

.closeBtnContainer {
	width: fit-children;
	height: fit-children;
	horizontal-align: right;
	padding: 1.2px;
	margin-bottom: -15px;
	margin-right: 14px;
	z-index: 99999;
	border-radius: 50%;
	background-color: rgba(24, 33, 40, 1);
	border: 2px solid black;
	saturation: 1.5;
}

.closeBtnContainer:hover {
	saturation: 0.5;
	background-color: rgba(40, 40, 40, 1);
}

.closeBtn {
	width: 15px;
	height: 15px;
	wash-color: rgba(50, 50, 50, 0.7);
	margin-left: 1px;
}

.arrowheadContainer {
	width: 100%;
	height: fit-children;
}

.arrowheadImage {
	width: 20px;
	height: 10px;
	wash-color: rgba(24, 33, 40, 1);
	z-index: 9999;
	pre-transform-rotate2d: 180deg;
	horizontal-align: center;
}
