.heroesContainer {
  vertical-align: top;
  horizontal-align: middle;
  flow-children: right;
  margin-top: 5px;
  margin-left: 30px;
}

.heroContainer {
  width: 73.6px;
  flow-children: down;
  margin-right: 25px;
}

