.heroesContainer {
  vertical-align: top;
  horizontal-align: middle;
  flow-children: right;
  margin-top: 5px;
  margin-left: 30px;
}

.heroContainer {
  width: 82px;
  flow-children: down;
  margin-right: 25px;
  padding: 5px;
  transition: transform 0.1s ease-in-out 0.0s;
}
