.container {
	horizontal-align: right;
	vertical-align: top;
	width: 100px;
	padding-right: 5px;
	padding-top: 1px;
	z-index: 10;
}

.label {
	color: rgba(150, 150, 150, 0.75);
	font-size: 14px;
	text-shadow: 0px 0px 2px 2 rgba(0, 0, 0, 0.5);
	width: 100%;
	font-family: monospaceNumbersFont;
	text-align: right;
}
