.container {
  vertical-align: bottom;
  horizontal-align: left;
  margin-bottom: 173px;
  margin-left: 205px;
  flow-children: down;
}

.label {
  font-size: 14px;
  color: rgb(200, 200, 200);
  vertical-align: center;
  horizontal-align: center;
  text-shadow: 1px 1px 2px 2 #000000;
  letter-spacing: 0.9px;
  margin-bottom: -10px;
  z-index: 10;
}

.imagesContainer {
  background-color: rgba(0, 0, 0, 0.85);
  min-width: 150px;
  height: 39px;
  flow-children: right;
  padding-Top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
