.container {
	width: 16px;
	height: 16px;
	z-index: 9999;
	vertical-align: bottom;
	horizontal-align: right;
	border-radius: 4px;
	margin-bottom: 2px;
	margin-right: 2px;
}

.label {
	font-size: 14px;
	color: #70b7fa;
	text-shadow: 0px 0px 6px 6 black;
	vertical-align: bottom;
	horizontal-align: right;
	font-family: monospaceNumbersFont;
}
