.debuffContainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1.5px solid red;
  margin-right: 5px;
}

.debuffImage {
  width: 100%;
  height: 100%;
}

.debuffItemImage {
  padding: -5px;
}