.container {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right-wrap;
	max-width: 300px;
	height: fit-children;
	width: 300px;
	padding: 2px;
	margin-left: 665px;
	margin-bottom: 80px;
}
