.container {
	horizontal-align: right;
	vertical-align: top;
	margin-right: 0px;
	margin-top: 150px;
	transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
	opacity: 0;
	border-radius: 5px;
	min-width: 750px;
	min-height: 550px;
	flow-children: down;
	z-index: 999;
	background-image: url('s2r://panorama/images/ability_bg.png');
	background-color: rgba(0, 0, 0, 0.85);
	background-size: 100%;
	transform: translateX(490px);
}

.topBarContainer {
	flow-children: right;
	width: 100%;
}

.itemsContainer {
	background-color: rgba(0, 0, 0, 0.45);
	width: 100%;
	height: 100%;
	flow-children: right;
	margin: 15px;
}

.itemsColumn {
	width: 50%;
	height: 100%;
	flow-children: down;
}
