.container {
  margin-left: 12.5px;
  margin-right: 6.25px;
  margin-top: 10px;
  flow-children: down;
}

.label {
  color: rgba(160, 160, 160, 0.35);
  font-size: 12px;
  width: 100%;
  text-align: left;
  letter-spacing: 1.5px;
  margin-bottom: 2.5px;
  margin-left: 7.5px;
}

.abilitiesContainer {
  /* width: 100%; */
  background-color: rgba(50, 50, 50, 0.75);
  border-radius: 5px;
  flow-children: right;
  padding: 5px;
}
