.settingsWindow {
  vertical-align: top;
  horizontal-align: right;
  margin-top: 150px;
  margin-right: -500px;
  min-width: 450px;
  min-height: 100px;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 5px;
  padding: 15px;
  flow-children: down;
  transition: transform 0.5s ease-in-out 0.0s, opacity 0.5s ease-in-out 0.0s;
  opacity: 0.1;
} 

.settingsItem {
  width: 100%;
  min-height: 15px;
  vertical-align: center;
  flow-children: right;
}

.settingsLabel {
  width: 100%;
  min-height: 15px;
  vertical-align: center;
}
