<root>
    <scripts>
        <include src="./App.tsx" />
    </scripts>
    <styles>
        <include src="s2r://panorama/styles/dotastyles.vcss_c" />
        <include src="./app.css" />
        <include src="./components/Minimap/minimap.css" />
        <include src="./components/ButtonGroup/buttonGroup.css" />
        <include src="./components/Settings/settings.css" />
    </styles> 
    <Panel class="root" hittest="false" />
</root> 