.container {
	width: 100%;
	height: 100%;
}

.bottomCenterBackground {
	width: 375px;
	height: 99px;
	background-color: black;
	vertical-align: bottom;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.95;
	brightness: 0.95;
	border-radius: 3px 3px 0px 0px;
  z-index: -1;
}

.bottomCenterLeftFlare {
	width: 30px;
	height: 90px;
	margin-right: 404px;
	vertical-align: bottom;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/side_flare_tall_psd.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.95;
	brightness: 0.95;
}

.bottomCenterRightFlare {
	width: 30px;
	height: 90px;
	margin-left: 404px;
	vertical-align: bottom;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/side_flare_tall_psd.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.95;
	brightness: 0.95;
	transform: scaleX(-1);
}

.rightCornerContainer {
  flow-children: down;
  vertical-align: bottom;
  horizontal-align: right;
}