<root>
    <scripts>
        <include src="./App.tsx" />
    </scripts>
    <styles>
        <include src="s2r://panorama/styles/dotastyles.vcss_c" />
        <include src="./app.css" />
        <include src="./components/Minimap/minimap.css" />
        <include src="./components/ButtonGroup/buttonGroup.css" />
        <include src="./components/Settings/settings.css" />
        <include src="./components/Settings/Divider/divider.css" />
        <include src="./components/Settings/Title/title.css" />
        <include src="./components/Settings/CloseBtn/closeBtn.css" />
        <include src="./components/Heroes/heroes.css" />
        <include src="./components/Heroes/Playername/playername.css" />
        <include src="./components/Heroes/HeroImage/heroImage.css" />
        <include src="./components/Heroes/Health/health.css" />
        <include src="./components/Heroes/Mana/mana.css" />
    </styles> 
    <Panel class="root" hittest="false">
      <!-- <Image src="file://panorama/images/close_btn_white.png" />  -->
    </Panel> 
</root>       