.heroSelectionHeroesContainer {
  background-color: rgba(0, 0, 0, 0.5);
  flow-children: right;
  vertical-align: bottom;
  horizontal-align: left;
  margin-bottom: 65px;
  margin-left: 75px;
  padding: 5px;
}

.heroSelectionHeroesRandomBtnContainer {
  width: 70px;
  height: 84px;
  border: 2px solid black;
  margin: 5px;
}

.heroSelectionHeroesRandomBtnImage {
  width: 100%;
  height: 100%;
  background-image: url("file://panorama/images/random_dice.png");
  background-size: contain;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  wash-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out 0.0s;
}

.heroSelectionHeroesRandomBtnImage:hover {
  transform: scale3d(1.05, 1.05, 0);
}
