.container {
	flow-children: down;
	margin: 5px;
	width: 100%;
}

.title {
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid rgba(50, 50, 50, 0.5);
	font-size: 13px;
	color: rgb(175, 175, 175);
	text-align: left;
	font-family: fantasy;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 2px;
	letter-spacing: 1.35px;
}

.itemsContainer {
	width: 100%;
	flow-children: right-wrap;
	background-image: url('s2r://panorama/images/inventory_item_well.png');
	background-size: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	padding: 10px;
}
