.mapZoomSliderLeftLabel {
  width: 40%;
  margin-top: 5px;
  color: orange;
}

.mapZoomSliderRightLabel {
  width: 20%;
  margin-top: 5px;
  margin-left: 10px;
  color: orange;
}

.mapZoomSliderPanel {
  width: 40%;
}