.heroesHealthContainer {
  width: 100%;
  height: 6.5px;
}

.heroesHealthProgressBar {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  horizontal-align: center;
}

.heroesHealthProgressBar .ProgressBarLeft {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), to( #004c00 ) );
    border-radius: 1px;
    transition-property: width;
    transition-duration: 0.0s;
    transition-timing-function: linear;
}