.inventoryMenuOuterContainer {
  vertical-align: middle;
  horizontal-align: middle;
  margin-top: 175px;
  opacity: 0.0;
  pre-transform-scale2d: 0.5;
  transition: opacity 0.25s ease-in-out 0.0s, pre-transform-scale2d 0.25s ease-in-out 0.0s;
  z-index: 999;
  width: 500px;
  height: 175px;
}

.inventoryMenuInnerContainer {
  vertical-align: bottom;
  horizontal-align: center;
  border-radius: 5px;
  flow-children: down;
  min-width: 400px;
  background-image: url("file://panorama/images/bg_scoreboard.png");
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.inventoryMenuTitleContainer {
  width: 100%;
  padding-left: 10px;
  background-color: rgba(30, 30, 30, 0.925);
}

.inventoryMenuTitleLabel {
  color: rgba(200, 200, 200, 0.45);
  font-size: 14px;
  vertical-align: center;
  font-weight: lighter;
  letter-spacing: 1.5px;
  padding-top: 3.5px;
}

.inventoryMenuItemContainer {
  width: 100%;
  flow-children: right;
  background-image: url("file://panorama/images/inventory_item_well.png");
  background-size: cover;
  background-color: rgba(65, 65, 65, 0.5);
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  margin-top: 5px;
}

.inventoryMenuItemLabel {
  width: 80%;
  font-size: 25px;
  text-shadow: 1px 1px 2px 2 #000000;   
  border-radius: 5px;
  color: white;
  text-overflow: ellipsis;
  vertical-align: center;
  text-align: center;
  padding-left: 10px;
}

.inventoryMenuItemImageContainer {
  width: 20%;
  padding-top: 0.5px;
}

.inventoryMenuItemImage {
  width: 52px;
  height: 38px;
  vertical-align: center;
  horizontal-align: center;
  border-radius: 5px;
  border: 1px solid black;
}

.inventoryMenuButtonContainer {
  width: 100%;
  flow-children: right;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.inventoryMenuButton {
  width: fill-parent-flow(1);
  vertical-align: center;
  horizontal-align: center;
  height: 35px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out 0s;
}

.inventoryMenuButton:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.75);
  transform: scale3d(1.025, 1.025, 0);
}

.inventoryMenuButtonLabel {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 2px 2 #000000;   
  font-size: 20px;
  vertical-align: center;
  text-align: center;
}

.inventoryMenuCancelButton {
  background-color: rgba(75, 75, 75, 0.5);
  background-image: url("file://panorama/images/background_play_button_2x.png");
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  brightness: 2;
  saturation: 1.2;
  margin-right: 5px;
}

.inventoryMenuCancelButton:hover {
  brightness: 3;
  saturation: 1.5;
}

.inventoryMenuSellButton {
  background-color: rgba(255, 0, 0, 0.5);
  background-image: url("file://panorama/images/red_large_off.png");
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  brightness: 2;
  saturation: 1.3;
  margin-left: 5px;
}

.inventoryMenuSellButton:hover {
  brightness: 3;
  saturation: 1.5;
}

.inventoryMenuCloseBtn {
  vertical-align: center;
  horizontal-align: right;
  height: 20px;
  width: 20px;
  wash-color:  rgba(100, 100, 100, 0.5);
  transition: transform 0.25s ease-in-out 0.0s;
  padding: 1.0px;
  margin-right: 2px;
}

.inventoryMenuCloseBtn:hover {
  wash-color:  rgba(100, 100, 100, 0.25);
  transform: scale3d(1.1, 1.1, 0);
}