.modifierItemContainer {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  opacity: 0.0;
  transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.25s;
  pre-transform-scale2d: 0.0;
}
 
.modifierItemBackground {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: radial(50% 50%, 0deg, 360deg);
}

.modifierItemForeground {
  width: 30px;
  height: 30px;
  horizontal-align: center;
  vertical-align: center;
  border-radius: 50%; 
  border: 2px solid black;
}

.modifierItemImage {
  width: 100%;
  height: 100%;
}

.modifierItemImageWithPadding {
  width: 100%;
  height: 100%;
  padding: -5px;
}