.container {
  width: 100%;
  background-color: rgba(30, 30, 30, 0.525);
}

.label {
  color: rgba(200, 200, 200, 0.45);
  font-size: 15px;
  vertical-align: center;
  horizontal-align: left;
  font-weight: light;
  letter-spacing: 1.5px;
  padding-top: 2.5px;
  padding-left: 10px;
}

.closeBtn {
  vertical-align: center;
  horizontal-align: right;
  height: 24px;
  width: 24px;
  padding: 2px;
  margin-right: 2.5px;
  opacity: 0.75;
  transition: transform 0.5s ease-in-out 0.0s, background-color 0.5s ease-in-out 0.0s;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px solid rgba(0, 0, 0, 1.0);
  wash-color: rgba(100, 100, 100, 0.5);
  transform: scale3d(1.0, 1.0, 0);
}

.closeBtn:hover {
  background-color: rgba(60, 60, 60, 1.0);
  border: 1px solid rgba(70, 70, 70, 1.0);
  wash-color: rgba(100, 100, 100, 0.25);
  transform: scale3d(1.2, 1.2, 0);
}