.container {
	height: 500px;
  width: 250px;
	flow-children: up;
	z-index: -1;
  /* transition: position 0.0s ease-in-out 0s, transform 0.0s ease-in-out 0s;   */
  transition-high-framerate: true;
}

.statusBarContainer {
  flow-children: up;
  box-shadow: fill rgba(0, 0, 0, 0.65) 0px 0px 8px 1px;
  width: 80px;
  margin: 4px;
  horizontal-align: center;
}

.abilitiesContainer {
  flow-children: up;
  horizontal-align: center;
  width: 100%;
}