.container {
	height: 100%;
	width: 125px;
	margin-right: 15px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	margin-left: 5px;
	flow-children: right;
}

.label {
	color: gold;
	vertical-align: center;
	width: 100%;
	text-align: center;
}

.image {
	background-image: url('s2r://panorama/images/gold_small_png.vtex');
	background-size: 100% 100%;
	width: 16px;
	height: 16px;
	vertical-align: center;
}
