.shopGoldContainer {
  height: 100%;
  width: 125px;
  margin-right: 15px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin-left: 5px;
  flow-children: right;
}

.shopGoldLabel {
  color: gold;
  vertical-align: center;
  width: 100%;
  text-align: center;
}

.shopGoldImage {
  background-image: url("file://panorama/images/gold_small.png");
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  vertical-align: center;
}