.container {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
	opacity: 0;
	pre-transform-scale2d: 0;
	transition-property: pre-transform-scale2d, opacity, transform;
	transition-duration: 0.2s;
	box-shadow: fill rgba(0, 0, 0, 0.3) 0px 0px 10px 1px;
}
