.heroSelectionStatsContainer {
  width: 100%;
  height: 100px;
  background-color: rgba(48, 48, 48, 0.5);
  margin: 12.5px;
  padding: 5px;
}

.heroSelectionStatsHeroLabel {
  color: white;
  font-size: 34px;
}