.statsPanelContainer {
  vertical-align: bottom;
  horizontal-align: center;
  height: 30px;
  flow-children: right;
  border-radius: 7px;
  background-color: rgba(25, 25, 25, 0.85);
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
  width: fit-children;
}

.statsPanelEntryOuterContainer {
  flow-children: right;
  vertical-align: center;
  margin-right: 25px;
  width: fit-children;
}

.statsPanelEntryInnerContainer {
  flow-children: right;
  vertical-align: center;
  horizontal-align: center;
}

.statsPanelLabel {
  color: rgba(255, 255, 255, 0.5);
}

.statsPanelArmorImage {
  width: 15px;
  height: 15px;
  background-image: url("file://panorama/images/icon_armor.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 2px;
  horizontal-align: center;
} 

.statsPanelMagicResistImage {
  width: 15px;
  height: 15px;
  background-image: url("file://panorama/images/icon_magic_resist.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 2px;
  horizontal-align: center;
} 

.statsPanelAttackImage {
  width: 15px;
  height: 15px;
  background-image: url("file://panorama/images/icon_damage.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 2px;
  horizontal-align: middle;
}

.statsPanelMoveSpeedImage {
  width: 15px;
  height: 15px;
  background-image: url("file://panorama/images/icon_speed.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle; 
  margin-right: 2px;
  horizontal-align: middle;
}