.characterPanelContainer {
  horizontal-align: right;
  vertical-align: top;
  margin-right: -490px;
  margin-top: 150px;
  transition: transform 0.5s ease-in-out 0.0s, opacity 0.5s ease-in-out 0.0s;
  opacity: 0.0;
  border-radius: 5px;
  min-width: 750px;
  min-height: 550px;
  flow-children: down;
  z-index: 999;
  /* background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex"); */
  /* background-size: cover; */
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
  background-size: 100%;
}

.characterPanelComponentTitleLabel {
  color: rgba(255, 165, 0, 0.9);
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.characterPanelStatsEntry {
  width: 60%;
  flow-children: right;
}

.characterPanelStatsLabel {
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;
}
