.characterPanelComponentTitleLabel {
  color: rgba(255, 165, 0, 0.9);
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.characterPanelStatsEntry {
  width: 50%;
  flow-children: right;
}

.characterPanelStatsLabel {
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;
}
