.container {
  flow-children: right;
  horizontal-align: right;
  margin-right: 12.5px;
  margin-left: 12.5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cancelButton {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  margin-left: 7.5px;
  padding: 6px 12px 6px 12px;
  background-image: url("s2r://panorama/images/background_play_button_2x.png");
  background-size: 228px 50px;
  border: 1px solid #6e3f3f88;
  transition-property: brightness, saturation;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  background-color: red;
  box-shadow: fill black 0px 0px 1.5px 1.5px;
  saturation: 1.0;
  brightness: 0.5;
}

.cancelButton:hover {
  saturation: 1.1;
  brightness: 0.75;
}

.selectButton {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  margin-right: 7.5px;
  padding: 6px 12px 6px 12px;
  background-image: url('s2r://panorama/images/background_play_button_2x.png');
  background-size: 228px 50px;
  border: 1px solid #30303088;
  transition-property: brightness, saturation;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  saturation: 1.0;
  brightness: 1.0;
  box-shadow: fill black 0px 0px 1.5px 1.5px;
}

.selectButton:hover {
  saturation: 1.1;
  brightness: 1.25;
}

.selectButtonLabel {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px 2 #000000;
}

.selectButtonLockIcon {
  width: 23px;
  height: 23px;
  vertical-align: center;
  horizontal-align: center;
}

.cancelButtonLabel {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px 2 #000000;
}