.container {
	width: 360px;
	height: 19px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 84px;
	border-radius: 3px;
	background-color: red;
	box-shadow: fill rgba(0, 0, 0, 0.4) 0px 0px 5px 2px;
}

.scene {
	height: 100%;
	hue-rotation: 100deg;
	opacity: 0.8;
}

.manaLabel {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 0px 2 #000000;
	vertical-align: middle;
	horizontal-align: center;
	font-weight: bold;
	font-family: monospaceNumbersFont;
	opacity: 0.6;
}

.regenLabel {
	font-size: 14px;
	color: #83c2fe;
	margin-top: 0.5px;
	margin-right: 3px;
	text-shadow: 2px 2px 0px 1 #00000066;
	vertical-align: middle;
	horizontal-align: right;
	font-weight: bold;
	font-family: monospaceNumbersFont;
	opacity: 0.8;
}
