.inventoryContainer {
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 135px;
  flow-children: right;
}

.inventoryFirstRowContainer {
  flow-children: right;
}

.inventorySecondRowContainer {
  flow-children: right;
}