.inventoryContainer {
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 75px;
  margin-left: 0px;
  flow-children: right;
  
}

.inventoryFirstRowContainer {
  flow-children: right;
}

.inventorySecondRowContainer {
  flow-children: right;
}