.buffContainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1.5px solid #83c91a;
  margin-right: 5px;
}

.buffImage {
  width: 100%;
  height: 100%;
}

.buffItemImage {
  padding: -5px;
}