.container {
  width: 100%;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 10px;
  padding: 5px;
  flow-children: right;
  border-radius: 5px;
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: fill black -2px -1px 3px 4px;
}

.attributeImage {
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-position: center;
  vertical-align: center;
  margin-left: 5px;
}

.heronameLabel {
  color: white;
  font-size: 34px;
  padding-left: 12.5px;
  padding-bottom: 1.5px;
}

.avatarOuterContainer {
  flow-children: right;
  horizontal-align: right;
  vertical-align: center;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 8px;
  border-radius: 5px;
  max-width: 400px;
}

.selectedByLabel {
  vertical-align: center;
}

.avatarInnerContainer {
  flow-children: right;
  margin-left: 5px;
  height: 100%;
}
