.container {
	background-color: #2b2c2c;
	width: fit-children;
  min-width: 16px;
	height: fit-children;
  min-height: 12px;
	z-index: 9999;
  box-shadow: fill black 1px 1px 1px 1px;
}

.label {
	font-size: 12px;
	color: rgb(207, 207, 207);
	text-shadow: 1px 1px 4px 4 black;
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
}
