.container {
	background-color: #212726;
	width: fit-children;
  min-width: 14px;
	height: fit-children;
  min-height: 12px;
	z-index: 9999;
}

.label {
	font-size: 12px;
	color: white;
	text-shadow: 1px 1px 4px 4 black;
  vertical-align: center;
  horizontal-align: center;
}
