.container {
	background-color: rgba(0, 0, 0, 0.75);
	width: 14px;
	height: 14px;
	z-index: 9999;
	margin: 1px;
}

.label {
	font-size: 12px;
	color: white;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	text-shadow: 1px 1px 4px 4 black;
	padding-right: 1px;
	padding-bottom: 1px;
}
