.container {
  vertical-align: bottom;
  horizontal-align: left;
  flow-children: down;
  margin-left: 75px;
  margin-bottom: 173px;
}

.title {
  font-size: 14px;
  color: rgb(200, 200, 200);
  vertical-align: center;
  horizontal-align: center;
  text-shadow: 1px 1px 2px 2 #000000;
  letter-spacing: 0.9px;
  margin-bottom: -10px;
  z-index: 10;
}

.timeContainer {
  width: 125px; 
  height: 39px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.85);
}

.timeLabel {
  font-size: 17px;
  color: white;
  vertical-align: center;
  horizontal-align: center;
  text-shadow: 1px 1px 2px 2 #000000;
  letter-spacing: 0.9px;
  padding-top: 6px;
  font-family: ui-monospace;
}

