.levelContainer {
  horizontal-align: right;
  margin-right: 15px;
  margin-top: 10px;
  flow-children: down;
}

.levelCircleContainer {
  width: 48px;
  height: 48px;
}

.levelBackground {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(225, 225, 255, 0.1);
  z-index: 40;
  background-color: rgba(25, 25, 25, 0.75);
}

.levelForeground {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1.5px solid #E7D291;
  z-index: 50;
  transition-property: clip;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  clip: radial(50% 50%, 0.0deg, 0deg);
  horizontal-align: center;
  vertical-align: center;
}

.levelLabel {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.65);
  margin-top: 0.25px;
  /* text-shadow: 1px 1px 2px 3 #000000;   */
  vertical-align: middle;
  horizontal-align: center;
  z-index: 60;
}

.levelLabelSubtext {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bolder;
}