.container {
	height: 16px;
	z-index: 9999;
	vertical-align: bottom;
	horizontal-align: right;
  margin-right: 4.5px;
  margin-bottom: 3.5px;
}

.label {
	font-size: 14px;
	color: #70b7fa;
	color: #8cc4f8;
	text-shadow: 1px 1px 4px 4 black;
	vertical-align: center;
	horizontal-align: center;
  text-align: center;
	font-family: monospaceNumbersFont;
}
