.characterPanelContainer {
  horizontal-align: right;
  vertical-align: top;
  margin-right: -500px;
  margin-top: 150px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(75, 75, 75, 1.0) ), to(rgba(0, 0, 0, 0.9)));
  transition: transform 0.5s ease-in-out 0.0s, opacity 0.5s ease-in-out 0.0s;
  opacity: 0.0;
  border-radius: 5px;
  min-width: 800px;
  min-height: 500px;
  height: fit-children;
  flow-children: right;
}

.characterPanelTitleLabel {
  /* color: rgba(128, 128, 128, 0.8); */
  color: rgba(255, 165, 0, 0.5);
}

.characterPanelStatsEntry {
  width: 50%;
  flow-children: right;
}

.characterPanelStatsLabel {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
