.characterPanelContainer {
  horizontal-align: right;
  vertical-align: top;
  margin-right: -500px;
  margin-top: 150px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(75, 75, 75, 1.0) ), to(rgba(0, 0, 0, 0.9)));
  transition: transform 0.5s ease-in-out 0.0s, opacity 0.5s ease-in-out 0.0s;
  opacity: 0.0;
  border-radius: 5px;
  min-width: 750px;
  min-height: 550px;
  flow-children: down;
}


.characterPanelMainTitleLabel {
  color: rgba(255, 165, 0, 0.5);
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  font-size: 25px;
  font-weight: bolder;
  background-color: rgba(35, 35, 35, 0.75);
  border-radius: 5px;
}

.characterPanelComponentTitleLabel {
  /* color: rgba(128, 128, 128, 0.8); */
  color: rgba(255, 165, 0, 0.5);
  text-align: center;
  width: 100%;
}

.characterPanelStatsEntry {
  width: 50%;
  flow-children: right;
}

.characterPanelStatsLabel {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
