.buttonGroupContainer {
  vertical-align: bottom;
  horizontal-align: right;
  width: 200px;
  margin-bottom: 25px;
  margin-right: 25px;
  flow-children: left;
  z-index: 9999;
} 

.buttonGroupEntry {
  vertical-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: 36px;
  height: 36px;
  padding: 2.5px;
}
 
.buttonGroupEntry:hover {
  transform: scale3d(1.1, 1.1, 1.1);
} 
