.characterPanelCloseBtnOuterContainer {
  vertical-align: center;
  horizontal-align: right;
  height: 24px;
  width: 24px;
  transition: transform 0.5s ease-in-out 0.0s, opacity 0.5s ease-in-out 0.0s;
  margin-right: 2.5px;
}

.characterPanelCloseBtnInnerContainer {
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease-in-out 0.0s;
}   

.characterPanelCloseBtnInnerContainer:hover {
  transform: scale3d(1.1, 1.1, 0);
  background-color: rgba(60, 60, 60, 1.0);
  border: 1px solid rgba(70, 70, 70, 1.0);
}

.characterPanelCloseBtn {
  opacity: 0.75;
  width: 100%;
  height: 100%;
  padding: 2px;
  wash-color:  rgba(100, 100, 100, 0.5);
}

.characterPanelCloseBtn:hover {
  wash-color:  rgba(100, 100, 100, 0.25);
}



