.container {
	width: 349px;
	height: 18.5px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 105px;
	border-radius: 3px;
	box-shadow: fill rgba(0, 0, 0, 0.4) 0px 0px 5px 2px;
}

.healthLabel {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 0px 2 #000000;
	vertical-align: middle;
	horizontal-align: center;
	font-weight: bold;
	font-family: monospaceNumbersFont;
	opacity: 0.8;
}

.regenLabel {
	font-size: 14px;
	margin-top: -0.25px;
	margin-right: 3px;
	text-shadow: 1px 1px 2px 2.5 #000000;
	vertical-align: middle;
	horizontal-align: right;
	font-weight: bold;
	font-family: monospaceNumbersFont;
	opacity: 0.8;
}

.scene {
	height: 100%;
	opacity: 0.8;
}
