.attackPanelContainer {
  width: 100%;
  height: 50%;
}

.attackPanelBackground {
  height: 100%;
  width: 100%;
  flow-children: down;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 7.5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
  background-size: 100%;
}

.attackPanelTitle {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  font-weight: bolder;
}

.attackPanelLabelContainer{
  width: 100%;
  flow-children: down;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 15px;
  vertical-align: center;
}

.attackPanelEntryContainer {
  width: 100%;
  flow-children: right;
}