.container {
  margin-left: 225px;
	margin-bottom: 50px;
	vertical-align: bottom;
  flow-children: down;
}

.background {
  border-radius: 50%;
  opacity-mask: url('s2r://panorama/images/softedge_circle_sharper.png') 0.85;
	background-color: rgba(0, 0, 0, 0.8);
  width: 78px;
  height: 78px;
}

.image {
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 50%;
  opacity: 0.5;
}

.label {
  width: 100%;
	text-align: center;
  color: rgba(200, 200, 200, 0.85);
	font-size: 12px;
	text-overflow: ellipsis;
	text-shadow: 0px 0px 2px 2 rgba(0, 0, 0, 0.95);
  margin-top: -8px;
}