.lockCameraBtnLeftLabel {
  width: 40%;
  color: orange;
}

.lockCameraBtnRightLabel {
  width: 52%;
  color: orange;
  font-size: 16px;
  margin-top: 0.5px;
}

.lockCameraBtnPanel {
  width: 8%;
  margin-left: 8px;
}