.settingsLockCameraBtnContainer {
  padding-bottom: 12px;
  padding-top: 12px;
}

.lockCameraBtnLeftLabel {
  width: 35%;
  /* color: rgba(255, 255, 255, 0.65); */
  color: orange;
}

.lockCameraBtnPanel {
  width: 8%;
  padding-left: -2px;
}

.lockCameraBtnRightLabel {
  width: 57%;
  font-size: 16px;
  padding-top: 0.5px;
  padding-left: -2px;
  /* color: rgba(255, 255, 255, 0.65); */
  color: orange;
}