.buffsContainer {
  vertical-align: bottom;
  horizontal-align: center;
  flow-children: left-wrap;
  max-width: 300px;
  height: fit-children;
  width: 300px;
  padding: 2px;
  margin-right: 660px;
  margin-bottom: 177.5px;
}