.container {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: left-wrap;
	max-width: 300px;
	height: fit-children;
	width: 300px;
	padding: 2px;
	margin-right: 665px;
	margin-bottom: 80px;
}
