/* 
.settingsCloseBtnContainer {
  vertical-align: top;
  horizontal-align: right;
  margin-top: 142px;
  margin-right: -508px;
  height: 26px;
  width: 26px;
  transition: transform 0.5s ease-in-out 0.0s, opacity 0.5s ease-in-out 0.0s;
  z-index: 6;
  background-color: black;
  border-radius: 65%;
}   
*/

.settingsCloseBtnContainer {
  height: 24px;
  width: 24px;
  vertical-align: center;
  horizontal-align: right;
}   

.settingsCloseBtn {
  opacity: 0.75;
  padding: 2px;
  wash-color:  rgba(100, 100, 100, 0.5);
}

.settingsCloseBtn:hover {
  wash-color:  rgba(100, 100, 100, 0.25);
  transform: scale3d(1.1, 1.1, 0);
}