.container {
	height: 25px;
	flow-children: right;
	horizontal-align: center;
	transition: opacity 0.25s ease-in-out 0s;
}

.label {
	vertical-align: center;
	horizontal-align: center;
	font-size: 12px;
	color: white;
	margin-left: 4px;
	margin-bottom: 2px;
	text-shadow: 1px 1px 2px 2 rgba(0, 0, 0, 0.8);
	text-overflow: ellipsis;
}

.image {
	vertical-align: center;
	horizontal-align: center;
	height: 18px;
	width: 18px;
	padding: -2px;
}
