.heroSelectionDescriptionContainer {
  vertical-align: center;
  horizontal-align: right;
  width: 800px;
  margin-right: 100px;
  margin-bottom: 200px;
  border-radius: 5px;
  opacity: 0.0;
  pre-transform-scale2d: 0.5;
  transition-property: opacity, pre-transform-scale2d;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  flow-children: down;
  background-color: rgba(0, 0, 0, 0.9);
}

