.container {
	vertical-align: bottom;
	horizontal-align: center;
	height: 30px;
	flow-children: right;
	border-radius: 3px;
	margin-bottom: 5px;
	width: fit-children;
	padding-right: 8px;
	padding-left: 8px;
	box-shadow: fill rgba(60, 60, 60, 0.3) 0px 0px 6px 2px;
	background-image: url('s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex');
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-img-opacity: 1.85;
	background-color: rgba(30, 30, 30, 0.9);
}

.image {
	width: 15px;
	height: 15px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 2px;
	horizontal-align: center;
}

.entry {
	flow-children: right;
	vertical-align: center;
	margin-left: 8px;
	margin-right: 8px;
}

.label {
	color: rgba(255, 255, 255, 0.5);
}
