.heroSelectionHeroContainer {
  width: 70px;
  height: 84px;
  margin: 5px;
  border: 2px solid black;
}

.heroSelectionSelectedHeroBorder {
  background-color: whitesmoke;
  width: 100%;
  height: 4px;
  z-index: 10;
  vertical-align: bottom;
}

.heroSelectionHeroImage {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  vertical-align: center;
  horizontal-align: center;
}

.heroSelectionSelectedHeroLock {
  width: 32px;
  height: 32px;
  z-index: 10;
  vertical-align: center;
  horizontal-align: center;
}