.inventoryItemContainer {
  width: 55px;
  height: 40px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.85);
  background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
  background-size: 100%;
  transition: transform 0.1s ease-in-out 0s;
}

.inventoryItemContainer:hover {
  transform: scale3d(1.05, 1.05, 0);
}

#inventoryItemDraggedItem {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}
