.container {
	width: 55px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.85);
	background-image: url('s2r://panorama/images/emptyitembg.png');
	background-size: 100%;
	transition: transform 0.1s ease-in-out 0s;
	margin-right: 1px;
	margin-left: 1px;
	transform: scale3d(1, 1, 1);
}

.container:hover {
	transform: scale3d(1.02, 1.02, 1);
}
