.heroSelectionHeroContainer {
  width: 70px;
  height: 84px;
  margin: 5px;
  border: 2px solid black;
  box-shadow: fill rgba(90, 90, 90, 0.2) 0px 0px 1px 1px;
}

.heroSelectionSelectedHeroBorder {
  background-color: whitesmoke;
  width: 100%;
  height: 4px;
  z-index: 10;
  vertical-align: bottom;
}

.heroSelectionHeroImage {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  vertical-align: center;
  horizontal-align: center;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: rgba(65, 65, 65, 0.5);
}

.heroSelectionSelectedHeroLock {
  width: 32px;
  height: 32px;
  z-index: 10;
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 15px;
}